/* OMG A NAV BAR */
body {
    font-family: "Lato", sans-serif;
    background-image: url("/images/bookbac.jpeg");
    width: auto;
}

footer  {
    background-color: #556B2F;
    text-align:center;

}
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sideNav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 250%;
    margin-left: 50px;
}

#menuButtonIcon {
    float: left;
    font-size: 30px;
    width: 33%;
    cursor: pointer
}

#log {
    width: 33%;
    display: inline-block;
}


#navTitle {
    text-align: center;
    display: inline-block;
    width: 33%;
}

#main {
    width: 100%;
    transition: margin-left .5s;
    padding: 16px;
}

.text-indent {
    text-indent: 25px;
}

.fluid-ratio-resize {
    margin: auto;
    max-width: 200px;
    *height: 200px;
    background-size: cover;
}

.fluid-ratio-resize:after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    height: 0;
}

.white {
    color: #000 !important;
    background-color: white !important;
}

.green-grad {

    background: linear-gradient(#009b46, #00843c); /* Standard syntax */
}

.orange-grad {
    background: linear-gradient(#FFB3FF, #A50000); /* Standard syntax */
}

.blue {
    color: #000 !important;
    background-color: #0995ff !important;
}

.grey {
    color: #000 !important;
    background-color: #616161 !important;
}

.center {
    text-align: center !important;
}

.left {
    float: left !important;
}

.right {
    float: right; !important;
}

.container-main {
    padding: 0.01em 16px
}

.content {
    max-width: 980px;
    margin: auto
}

.panel {
    padding: 0.01em 16px;
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.display-container {

    text-align:center;
    background: url("/images/contain-bac.jpeg");
    position: relative
}

.container-main:after, .panel:after {
    content: "";
    display: table;
    clear: both
}

.center {
    text-align: center;
}

.blue {
    color: #00467f !important;
}

.red {
    color: #A50000 !important;
}

.green {
    color:#009b46 !important;
}

.half-frame {
    width: 49.5%;
    height: 500px;
}

.form-control {width:120px;}

.popover {max-width:400px;
}

.popover-title {
    display: none;
}

.search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 10px;
}
.search-wrapper {
    width: 500px;
    margin: 50px auto auto;
}
.search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}
.search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
}
.close-icons {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.close-icons:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
    display: none;
}

/* Please Select BTN */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Logon BTN */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.searchbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: ruby-text;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
   /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s;
}

/* Links inside the dropdown */
.dropdown-content {
    color: black;
   /* padding: 12px 16px;*/
    text-decoration: none;
   display: ruby-text;
}

/* Change color of dropdown links on hover */
.dropdown-content :hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: ruby-text;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:focus .dropbtn {
    background-color: #3e8e41;
}